.paraa{
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto ;
    margin-bottom: 20px;
    margin-left:auto;
    min-height: 20px;
    background-color: #eee;
}
div:empty{
    background-color: red;
}         
body{
    font-family: Arial, Helvetica, sans-serif;
}
.hello{
    background-color: #d4d4d4;
    width: 300px;
    padding: 20px;
    margin-left:auto;
    margin-right: auto ;
    position: relative;
    text-align: center;
}
.hello::before{
    content: "1";
    text-align: center;

    font-weight: bold;
    background-color: #ff0000;
    width: 10px;
    padding: 10px;
    color: white;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -20px;
}
.paragraph {
    background-color: #efefef;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 400px;
    margin-left: 100px;
    border-left: 5px solid #e91e63;
}
.paragraph::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -25px;
    top: 50%;  
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #e91e63 transparent transparent;
    }

.paragraph::before{
    content: attr(data-person);
    background-color: #615a5a;
    padding: 10px;
    position: absolute;
    left: -100px;
    display: none;
    top: 50%;
    margin-top: -19.5px;
    height: 100%;
    width: 60px;
    color: white;
    height: fit-content;
}
.paragraph:hover::before{
    display: block;
}
.paragraph:hover::first-letter{
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.paragraph:hover{
    width: 450px;
    background-color: #efdfaf;
    color: rgb(10, 23, 55);
} 
.papa{
    counter-reset: section;
}
.parameter{
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 500px;
    background-color: #efefef;
    margin-left:auto;
    margin-right: auto ;
    border-right: 5px solid #f44336;

}
.parameter::before{
    counter-increment: section;
    content: counters(section,".") " ";
    position: absolute;
    left: -30px;
    top: 0;
    background-color: #f44336;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 9.5px;
    padding-right: 12px;
    padding-bottom: 9.5px;
    padding-left: 12px;
}
.parameter::selection{
    background-color: #194346;
    color: rgb(214, 202, 185);
}