.shape-1{
    display: inline-block;
    background-color: grey;
    border: 5px solid red;
    outline: 5px solid black;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
}
.shape-2{
    display: inline-block;
    background-color: grey;
    border-width: 5px ;
    border-style: solid;
    border-color:  blue green;
    outline: 5px solid black;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
}
.shape-3{
    display: inline-block;
    background-color: grey;
    border-width: 5px ;
    border-style:  dashed ;
    border-color:  red green blue yellow;
    outline: 5px solid black;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
}
.shape-11{
    width: 350px;
    border-left: 3px solid greenyellow;
    outline: 10px solid #a7a7a7;
    background-color: #a7a7a7;
    margin: 20px 20px 20px 5px;
    padding: 5px;
}
.shape-12{
    width: 350px;
    border-left: 3px solid greenyellow;
    outline: 10px solid #a7a7a7;
    background-color: #a7a7a7;
    margin: 20px 20px 20px 5px;
    padding: 5px;
    visibility: hidden;
}
.shape-13{
    width: 350px;
    border-left: 3px solid palevioletred;
    outline: 10px solid #a7a7a7;
    background-color: #a7a7a7;
    margin: 20px 20px 20px 5px;
    padding: 5px;
}