* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

:root {
    --mainColor: red;
    --secColor: #00BFA5;
    --bigOne: #000;
    --essintialBack: #eee;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.product {
    background-color: var(--essintialBack);
    color: var(--secColor);
    padding: 20px;
    width: calc(25% - 10px);
}

div>span {
    font-size: 12px;
    font-weight: 300;
    color: var(--bigOne);
}

/* small screens */
@media (max-width:750px) {
    .container {
        flex-wrap: wrap;
    }

    .container .product {
        width: 100%;
        color: var(--bigOne);
        margin-bottom: 10px;

    }
}

@media (min-width:751px) and (max-width:1100px) {
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container .product {
        width: calc(50% - 5px);
        color: var(--mainColor);
        margin-bottom: 10px;

    }
}

.contaner-2 {
    width: calc(100% - 10px);
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "product-1 product-1"
        "product-2 product-3"
        "product-4 product-4";
    gap: 20px 20px;
    background-color: #fff;
    margin: 0px auto;
}

.device {
    background-color: var(--essintialBack);
    padding: 20px;
    color: var(--secColor);
}

.device.one {
    grid-area: product-1;
}

.device.four {
    grid-area: product-4;
}

.device.two {
    grid-area: product-2;
}

.device.three {
    grid-area: product-3;
}

@media (max-width:750px) {
    .contaner-2 {
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
        grid-template-areas:
            "product-1"
            "product-2"
            "product-3"
            "product-4";
    }

    .device {
        color: var(--bigOne);
    }
}

@media (min-width:751px) and (max-width:1100px) {
    .contaner-2 {
        width: 100%;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-template-areas:
            "product-1 product-1 product-1"
            "product-2 product-3 product-4";
    }

    .device {
        color: var(--mainColor);
    }
}