* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
 
.Elzero{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 9px 0px #ff5722, -9px 0px #03a9f4;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin-left: auto;
    color: #ff5722;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-top: 20px;
    transition: box-shadow 1.2s 0.2s, color 1s ;

}
.Elzero:hover{
    box-shadow: 3px 0px #e21f11, -3px 0px #3a7996;
    color:#151211;

}
.parent-1{
    display: flex;
width: 600px;
height: 400px;
    background-color: #eee;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: wrap row;
    margin: 20px;
    margin-left: auto;
margin-right: auto;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #fff;
text-align: center;

}
.mother{
    background-color: #f44336;
    text-align: center;
    padding: 10px;
    flex-basis: 32%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    

}
.parent-2{
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #eee;
    justify-content: space-between;
    flex-flow: wrap row;
    margin: 20px;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;

}
 .one{
order: 6;
align-self: flex-end;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;

}
.two{
order: 5;
align-self: stretch;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;
}
.three{
order: 2;
align-self: start;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;
}
.four{
order: 3;
align-self: stretch;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;
}
.five{
order: 4;
align-self: stretch;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;
}
.six{
order: 1;
align-self: stretch;
display: flex;
justify-content: center;
align-items: center;
background-color: #607d8b;
padding: 10px;
flex-basis: 32%;
} 
.parent-3{
    width: 600px;
    height: 300px;
    background-color: #eee;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    --maincolor: #fff;
    color: var(--maincolor) ;
}
.one-1{
background-color: #009688;
padding: 10px;
align-self: flex-end;
width: 35px;
height: 32.5%;
display: flex;
justify-content: center;
align-items: center;
}
.two-2{
    background-color: #009688;
    align-self: flex-start;
    padding: 10px;
    width: 50%;
    height: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.three-3{
    background-color: #009688;
    padding: 10px;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 32.5%;
}
:root {
    --mainColor: #000;
    --secColor: #fff;
    --mainPadding: 10px;
    --mainBackground: #eee;
    --secBackground: #ddd;
    --mainMargin-side: auto;
    --bigWidth: 600px;
    --interiorHeight:100%;  
  }
.parent-4{
    display: flex;
    width: 600px;
    height: 400px;
    background-color: var(--mainBackground, #ddd);
    padding: 15px;
    justify-content: space-between;
    flex-flow: nowrap row;
    margin: 20px;
    margin-left: var(--mainMargin-side,auto);
    margin-right: var(--mainMargin-side,auto);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--secColor, #fff);
    text-align: center;
}

.one-4{ 
    order: 2;
    background-color: #ff9800;
    width: 21%;
    align-self: flex-start;
    height: 50%;
    display: flex;
    align-items: center;
justify-content: center;
}
.two-5{ 
    order: 3;
    display: flex;
    align-items: center;
    background-color: #8bc34a;
    width: 21%;
    align-self: flex-end;
    height: 50%;
justify-content: center;
}
.three-6{
    background-color: #795548;
    display: flex;
    align-items: center;
    width: 21%;
    order: 4;
    align-self: flex-start;
justify-content: center;
    height: 50%;
}
.four-7{
    background-color: #673ab7;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    width: 21%;
    align-self: flex-end;
}
.page{
    width: 99%;
    margin-left: var(--mainMargin-side);
    margin-right: var(--mainMargin-side);
    height: 1000px;
    display: flex;
    padding: 13.5px;
    justify-content: space-between;
    align-content: space-between;
    background-color: var(--mainBackground);
    flex-flow: wrap row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
}
.header{
    width: var(--interiorHeight);
    height: 7%;
    background-color: var(--mainBackground);
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15%;
    height: var(--interiorHeight);
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    list-style: none;
    display: flex;
    background-color: #ddd;
    height: var(--interiorHeight);
    width: 84%;
    justify-content: flex-end;
}
li{
    /* background-color: rgb(206, 201, 201); */
    align-self: stretch;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-area{
    width: var(--interiorHeight);
    height: 85%;
    background-color: var(--mainBackground);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.content{
    width: 60%;
    height: var(--interiorHeight);
    background-color: var(--secBackground);
    padding: var(--mainPadding);
}
.sidebar{
    width: 39%;
    height: var(--interiorHeight);
    background-color: var(--secBackground);
    padding: var(--mainPadding);
}
.footer{
    height: 5%;
    width: var(--interiorHeight);
    background-color: var(--secBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mainPadding);
}

