.parent .child .title{
    color: red;
}

.parent .title{
    color: blue;
}
p,
.title{
    color: green;
}
.words p{
    background-color: brown;
    width: fit-content;
    max-width: 400px;
    color: white;
    padding: 5px;
    max-height: 50px;
}