html{
    font-size: 20px;
}
body{
    text-transform: capitalize;
}
.un{
    border: 3px solid #ff5722;
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.uon{
    background-color: #EEE;
    padding: inherit;
    border: inherit;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.deux{
    border: 3px solid #07998b;
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.deux .deuox{
    background-color: #EEE;
    padding: inherit;
    border: inherit;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.Open-sans{
    font-family: 'Open Sans', sans-serif;
}
.cairo{
    font-family: 'Cairo', sans-serif;
}
.Jomhuria{
    font-family: 'Jomhuria', cursive;
}
.fifty{
    font-size: 2.5rem;
}
.fourty{
    font-size: 2rem;
}
.thirty{
    font-size: 1.5rem;
}