* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.grid {
    background-color: #ddd;
    padding: 10px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr;
    gap: 10px 10px;
}

span {
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    height: 100vh;
    width: 100%;
    background-color: #eee;
    display: grid;
    grid-template: 50px 1fr 50px / repeat(6, 1fr);
    grid-template-areas: "header header header header header header" "sec sec sec sec sec ads" "foot foot foot foot foot foot";
}

header {
    grid-area: header;
    background-color: #03a9f4;
}

section {
    grid-area: sec;
    background-color: #ff5722;
}

aside {
    grid-area: ads;
    background-color: #607d8b;
}

footer {
    grid-area: foot;
    background-color: #009688;
}

.grid-one {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px 20px;
}

.time {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-two {
    background-color: #eee;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px 20px;
}

.one {
    background-color: #2196f3;
    order: 2;
    grid-area: 6/1/7/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    background-color: #2196f3;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five {
    background-color: #2196f3;
    grid-area: 3/2/6/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.six {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight {
    background-color: #2196f3;
    order: -1;
    grid-area: 1/1/2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-three {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    gap: 20px 20px;
    align-content: space-between;
    grid-template: auto auto/ auto auto;
}

.numbers {
    background-color: #e91e63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-four {
    background-color: #eee;
    padding: 20px;
    width: 90%;
    height: 1600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px 20px;
    line-height: 1.6;
}

:root {
    --mainColor: #fff;
    --secColor: #000;
    --boardColor: #ff5722;
}

.mohamed-ali {
    background-color: var(--mainColor);
    color: var(--secColor);
    grid-area: 1/1/2/3;
    padding: 10px;
    border-bottom: 5px solid var(--boardColor);
}

.mohamed-sayed {
    background-color: var(--mainColor);
    color: var(--secColor);
    padding: 10px;
    border-bottom: 5px solid var(--boardColor);
}

.mohamed-ahmed {
    background-color: var(--mainColor);
    color: var(--secColor);
    grid-area: 2/1/5/2;
    padding: 10px;
    border-bottom: 5px solid var(--boardColor);
}

.mohamed-mahmoud {
    background-color: var(--secColor);
    color: var(--mainColor);
    border-bottom: 5px solid var(--boardColor);
    grid-area: 1/4/5/5;
    padding: 10px;
}

.dalia-mohamed {
    background-color: var(--secColor);
    color: var(--mainColor);
    border-bottom: 5px solid var(--boardColor);
    grid-area: 2/2/4/4;
    padding: 10px;
}

.noha-mohamed {
    background-color: var(--mainColor);
    border-bottom: 5px solid var(--boardColor);
    color: var(--secColor);
    grid-area: 4/2/5/4;
    padding: 10px;
}

.mena-mohamed {
    background-color: var(--mainColor);
    color: var(--secColor);
    border-bottom: 5px solid var(--boardColor);
    padding: 10px;
}

.nora-mohamed {
    background-color: var(--secColor);
    color: var(--mainColor);
    padding: 10px;
    border-bottom: 5px solid var(--boardColor);
}

.heba-mohamed {
    background-color: var(--mainColor);
    color: var(--secColor);
    border-bottom: 5px solid var(--boardColor);
    padding: 10px;
}

.zeyad-mohamed {
    background-color: var(--mainColor);
    color: var(--secColor);
    border-bottom: 5px solid var(--boardColor);
    padding: 10px;
}

.title {
    opacity: 0.4;
    padding-bottom: 10px;
}

.disc {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.45;
    padding-top: 20px;
}